.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  /* transform: translateY(100%); */
  transition: all 0.3s ease;
  will-change: transform;
}

.overlayEntered {
  opacity: 1;
  /* transform: translateY(0%); */
}
